:root {
  --clr1: #f0f0f0;
  --clr2: #ffe0e0;
  --clr3: #fccccc;
  --clr4: #f5a8a8;
  --clr5: #e19999;
}

/*
font-family: 'Indie Flower', cursive;
font-family: 'Kalam', cursive;
font-family: 'Baloo Chettan 2', cursive;
*/
body {
  margin: 0;
}

hr {
  width: 100px;
  border: none;
  border-top: 5px dotted var(--clr5);
}

.all {
  margin: 0;
  display: grid;
  grid-template-columns: auto 650px auto;
  height: 100vh;
}

.side-l {
  background-image: linear-gradient(to right, var(--clr2), white);
}

.side-r {
  background-image: linear-gradient(to left, var(--clr2), white);
}

.content {}

.top {
  padding-top: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
}

.head-txt {
  box-sizing: border-box;
  font-size: 80px;
  font-family: 'Indie Flower', cursive;
  margin: auto;
  color: var(--clr5);
  width: 500px;
  text-align: center;
}

.plant-l {
  width: 75px;
  margin: 0 auto;
}

.plant-r {
  width: 75px;
  margin: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.empty {
  display: inline-block;
  width: 100px;
}

div.where {
  text-align: center;
  font-size: 30px;
  color: var(--clr5);
  width: 75%;
  margin: 0 auto;
  font-family: 'Baloo Chettan 2', cursive;
}

div.link-l {
  width: 75%;
  box-sizing: border-box;
  font-size: 0;
  display: grid;
  grid-template-columns: 75px 75px 20px 275px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 3px solid var(--clr4);
  margin: 30px auto;
  height: 100px;
}

div.link-r {
  width: 75%;
  box-sizing: border-box;
  font-size: 0;
  display: grid;
  grid-template-columns: 20px 275px 20px 75px 75px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 3px solid var(--clr4);
  background-color: var(--clr3);
  margin: 30px auto;
  height: 100px;
}

div.contact-form {
  width: 75%;
  box-sizing: border-box;
  border-radius: 50px;
  border: 3px solid var(--clr4);
  margin: 30px auto;
  height: 575px;
  padding: 10px 30px;
  display: none;
}

a.link {
  display: block;
  margin: 0;
  text-decoration: none;
}

img.logo {
  width: 75px;
  margin: 8px 0;
}

.link-txt-l {
  margin: auto;
  display: inline-block;
  font-size: 40px;
  font-family: 'Kalam', cursive;
  color: var(--clr4);
}

.link-txt-r {
  margin: auto;
  display: inline-block;
  font-size: 40px;
  font-family: 'Kalam', cursive;
  color: white;
}

.form-txt {
  display: inline-block;
  text-align: right;
  font-size: 28px;
  font-family: 'Kalam', cursive;
  color: var(--clr4);
  padding-right: 15px;
}

.form-txtarea {
  display: inline-block;
  text-align: right;
  font-size: 28px;
  font-family: 'Kalam', cursive;
  color: var(--clr4);
  padding-right: 15px;
}

.input-txt {
  box-sizing: border-box;
  border-radius: 50px;
  border: 2px solid var(--clr4);
  margin: 3px 10px;
  height: 39px;
  font-size: 18px;
  font-family: 'Baloo Chettan 2', cursive;
  color: var(--clr4);
  padding-left: 12px;
  outline-style: none;
}

.input-txtarea {
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid var(--clr4);
  margin: 10px 10px 0px;
  font-size: 18px;
  font-family: 'Baloo Chettan 2', cursive;
  color: var(--clr4);
  padding-left: 12px;
  outline-style: none;
  max-width: 260px;
  resize: none;
}

p.form-set {
  display: grid;
  grid-template-columns: 140px 280px;
  justify-content: center;
  align-items: center;
  margin: 10px auto 20px;
  font-size: 0;
}

p.form-set-ta {
  display: grid;
  grid-template-columns: 140px 280px;
  justify-content: center;
  align-items: flex-start;
  margin: 10px auto 20px;
  text-align: center;
  font-size: 0;
}

.send {
  display: block;
  margin: auto;
  outline-style: none;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid var(--clr4);
  background-color: white;
  color: var(--clr5);
  font-family: 'Baloo Chettan 2', cursive;
  font-size: 24px;
  box-shadow: 0 3px var(--clr2);
  cursor: pointer;
}

.send:active {
  box-shadow: 0 1px var(--clr2);
  transform: translateY(2px);
}

#contact-div:hover {
  cursor: pointer;
}
